h1 {color:lightblue;font-family:fantasy;font-size: 30px;}

.purpletext { color: purple;font-size: 30px}

a {font-size: 30px;}

#fantasytext {font-family: fantasy}
html {background-color: black}

p{color:white}
li{color:white}
ol{color:white}
